body {
    font-family:Open Sans, sans-serif;
    font-size: 14px;
    color: #343434;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
}
.container {
    width: 80%;
    margin: 0 auto;

}
.header__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__left {
    font-family: Rajdhani, sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.27;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: inline-flex;
}
.header__left:hover{
    transform: scale(2);
}
.header__logo {
    color:#252A34;
}
.header__auto {
    color: #FF2E63;
}
.header__item {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
}
.header__link{
    text-decoration: none;
    font-weight: 600;
    color:#252A34;
}
.header__item:hover {
    background: #FF2E63;
    border-radius: 5px;
}
.header__link_active {
    font-weight: 800;
}
.header__link_red {
    color: #FF2E63;
    padding-right: 20px;
}

.btn {
    font-family: Open Sans, sans-serif; 
    font-weight: 600;
    font-size: 16px;
}
.btn:hover {
    opacity: 0.5;
}
.btn__login {
    color: #FF2E63;
    background: none;
    border: none;
    text-decoration: none;
}
.btn__register {
    color: #FFFFFF;
    background: #FF2E63;
    padding: 8px 23px;
    border-radius: 5px;
    border: none;  
    text-decoration: none;  
    margin-left: 30px;
}
.leftNav {
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 270px;
    max-height: 478px;
    padding: 25px;
    position: sticky;
    top: 0;
}
.h2 {
    font-family: Rajdhani;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: -0.2px;
    color: #252A34;
}

.accordion__title {
    margin: 0;
    padding: 0.5em 0;
}
.accordion__title:after {
    content: url(../Shop/images/Vector\ 3.png);
    width: 0.5rem;
    height: 0.5rem;
    padding-left: 110px;
    padding-bottom: 10px;
}
.accordion__toogle:checked + .accordion__title:after {
    content: url(../Shop/images/Vector\ 3.png);
    transform: rotate(-180deg);
}

.accordion__toogle:checked ~ .accordion__content_price {
    padding-bottom: 1em;
    display: flex;
}
.accordion__toogle:checked ~ .accordion__content_brand {
    padding-bottom: 1em;
    display: flex;
}

.accordion__content_price {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    display: none;
}
.accordion__content_brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: none;
}
.accordion__brand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.accordion__brand label {
    width: 80%;
    padding-left: 10px;
}
.MinMax__input {
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 90px;
    min-height: 25px;
}
.accordion__name {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    line-height: 1.36;
    color: #999999;
}
.accordion__toogle{
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
}

.accordion__toogle:checked ~ .accordion__content {
    display: block;
}
    
.search__input {
    margin-top: 20px;
    border: 1px solid #999999;
    border-radius: 5px;
    min-height: 25px;
}
.contact {
    margin-top: 27px;
}

.brand__input {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4C0 1.79086 1.79086 0 4 0H16C18.2091 0 20 1.79086 20 4V16C20 18.2091 18.2091 20 16 20H4C1.79086 20 0 18.2091 0 16V4Z' fill='%23346CD9'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.75 6C13.405 6 13.0925 6.14 12.8663 6.36625L11.6163 7.61625L8.75 10.4825L7.13375 8.86625C6.9075 8.64 6.595 8.5 6.25 8.5C5.56 8.5 5 9.06 5 9.75C5 10.095 5.14 10.4075 5.36625 10.6337L7.86625 13.1337C8.0925 13.36 8.405 13.5 8.75 13.5C9.095 13.5 9.4075 13.36 9.63375 13.1337L13.3837 9.38375L14.6337 8.13375C14.86 7.9075 15 7.595 15 7.25C15 6.55937 14.44 6 13.75 6Z' fill='white'/%3E%3Cpath d='M4 1H16V-1H4V1ZM19 4V16H21V4H19ZM16 19H4V21H16V19ZM1 16V4H-1V16H1ZM4 19C2.34315 19 1 17.6569 1 16H-1C-1 18.7614 1.23858 21 4 21V19ZM19 16C19 17.6569 17.6569 19 16 19V21C18.7614 21 21 18.7614 21 16H19ZM16 1C17.6569 1 19 2.34315 19 4H21C21 1.23858 18.7614 -1 16 -1V1ZM4 -1C1.23858 -1 -1 1.23858 -1 4H1C1 2.34315 2.34315 1 4 1V-1Z' fill='%23346CD9'/%3E%3C/svg%3E%0A");
}

.contact__tel, .contact__mail, .contact__adress {
    text-decoration: none;
    color: #252A34;
    cursor: pointer;
    padding-right: 12px;
    padding-bottom: 20px;
    font-style: normal;
}
.ShopContainer {
    display: flex;
    justify-content: space-between;
    min-height: 80vh;
}
.shop__title {
    font-family: Rajdhani, sans-serif;
    font-weight: bold;
    font-size: 50px;
    line-height: 1.28;
    color: #343434;
    text-align: left;
    margin-left: 30px;
}
.shop__row{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    flex-wrap: wrap;
}
.products__item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 260px;
    width: 25%;
    margin: 15px;
}
.products__foto {
    position: relative;
    width: 100%;
    padding-top: 60%;
}
.products__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.products__model {
    font-weight: 700;
    font-size: 20px;
    line-height:1.27;
    color: #252A34;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.products__price {
    font-weight: 700;
    font-size: 30px;
    line-height:1.27;
    padding-bottom: 10px;
    padding-left: 20px;
}
.products__price_new {
    color:#FF2E63;
}
.products__price_old {
    text-decoration:line-through ;
    color: gray;
    font-size: 22px;
}
.products__text {
    color: #343434;
    padding-left: 20px;
}
.products__btn {
    background: #FF2E63;
    border-radius: 5px;
    width: 131px;
    height: 40px;
    font-size: 16px;
    color: FFFFFF;
    margin: 20px auto;
}
.title {
    font-family: Rajdhani, sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.27;
    text-align: center;
    color: #343434;
}
.pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.pages__number {
    text-decoration: none;
    font-size: 18px;
    line-height: 1.38;
    display: flex;
    align-items: center;
    color: #343434;
    padding: 20px;
}
.pages__number:active{
    text-decoration: underline;
    color: #346CD9;
}
.pages__number:hover{
    color: #346CD9;
    cursor: pointer;
}
.pages__btn {
    border: 1px solid #346CD9;
    box-sizing: border-box;
    border-radius: 5px;
    color: #346CD9;
    background: none;
    padding: 10px 16px;
    width: 87px;
    height: 45px;
    flex-grow: 0;
    margin: 0px 20px;
}
.footer {
    background: #346CD9;
}
.white {
    color:#FFFFFF;
}
